[submodule "zsh"]
	path = third_party/zsh
	url = https://github.com/zsh-users/zsh.git
[submodule "neovim"]
	path = third_party/neovim
	url = https://github.com/neovim/neovim.git
[submodule "CMake"]
	path = third_party/CMake
	url = https://github.com/Kitware/CMake.git
[submodule "oh-my-zsh"]
	path = third_party/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "oh-my-tmux"]
	path = third_party/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "zplug"]
	path = third_party/zplug
	url = https://github.com/zplug/zplug
